:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
header {
  background: #ec407a;
  padding: 20px;
  font-weight: bold;
}
main {
  padding: 20px;
}

.wrap {
  max-width: 1600px;
  margin: auto;
}

#output details h2 {
  display: inline-block;
  cursor: pointer;
  margin-left: 0.5rem;
  flex-grow: 1;
}

#output details {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
}

#output details summary:before {
  content: "\25B6";
  display: inline-block;
  width: 1rem;
  transition: transform 0.1s linear;
}

#output details summary {
  display: flex;
  align-items: center;
}

#output details summary .actions {
  justify-self: flex-end;
}

#output details[open] {
  padding: 0 0 10px 0;
}

#output details[open] summary:before {
  transform: rotate(90deg) translateX(2px);
}

#output details button.remove {
}
#output details button {
  background: none;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 1rem;
  transform: translateY(2px);
  border: 1px solid #666;
  color: #666;
  padding: 4px;
}
#output details button.remove:hover {
  border-color: #f44336;
  color: #f44336;
}
#output details button.download:hover {
  border-color: #4caf50;
  color: #4caf50;
}
#output details .actions {
  display: none;
}

#output details:hover .actions {
  display: flex;
}

#output {
  margin-top: 20px;
  display: none;
  text-align: left;
}
#output table {
  table-layout: fixed;
  width: 100%;
}
#output tr th {
  text-transform: uppercase;
}
#output tr td {
  overflow: hidden;
  font-size: 0.825rem;
}
#output tr td,
#output tr th {
  padding: 8px;
}

#output tr td:first-child,
#output tr th:first-child {
  width: 2rem;
}

#output tr:nth-child(odd) td {
  background: rgba(0, 0, 0, 0.1);
}

#output tr:hover td {
  background: #666;
}

body.loaded #output {
  display: block;
}
